<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.sae.mapper.BsExpertMapper">

    <resultMap type="com.hh.pms.sae.domain.BsExpert" id="BsExpertResult">
        <result property="jid" column="jid"/>
        <result property="jName" column="j_name"/>
        <result property="jSex" column="j_sex"/>
        <result property="jIdentity" column="j_identity"/>
        <result property="jPhone" column="j_phone"/>
        <result property="email" column="email"/>
        <result property="jState" column="j_state"/>
        <result property="jUnit" column="j_unit"/>
        <result property="jRetire" column="j_retire"/>
        <result property="jAddress" column="j_address"/>
        <result property="jCard" column="j_card"/>
        <result property="jIdentityPhoto" column="j_identity_photo"/>
        <result property="jDocumentsPhoto" column="j_documents_photo"/>
        <result property="jBank" column="j_bank"/>
        <result property="jShState" column="j_sh_state"/>
        <result property="jOpinion" column="j_opinion"/>
        <association property="experience">
            <result property="qid" column="qid"/>
            <result property="unit" column="unit"/>
            <result property="time" column="time"/>
            <result property="qOffice" column="q_office"/>
            <result property="specialized" column="specialized"/>
            <result property="jid" column="jid"/>
        </association>
    </resultMap>

    <sql id="selectBsExpertVo">
        select jid,
               j_name,
               j_sex,
               j_identity,
               j_phone,
               email,
               j_state,
               j_unit,
               j_retire,
               j_address,
               j_card,
               j_identity_photo,
               j_documents_photo,
               j_bank,
               j_sh_state,
               j_opinion
        from bs_expert
    </sql>

    <select id="selectBsExpertList" parameterType="com.hh.pms.sae.domain.BsExpert" resultMap="BsExpertResult">
        select * from bs_expert a
        left join bs_experience b on a.jid = b.jid
        <where>
            <if test="jName != null  and jName != ''">and a.j_name like concat('%', #{jName}, '%')</if>
            <if test="jShState != null ">and a.j_sh_state = #{jShState}</if>
        </where>
    </select>

    <select id="selectBsExpertByJid" parameterType="Long" resultMap="BsExpertResult">
        <include refid="selectBsExpertVo"/>
        where jid = #{jid}
    </select>

    <insert id="insertBsExpert" parameterType="com.hh.pms.sae.domain.BsExpert">
        insert into bs_expert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jName != null">j_name,</if>
            <if test="jSex != null">j_sex,</if>
            <if test="jIdentity != null">j_identity,</if>
            <if test="jPhone != null">j_phone,</if>
            <if test="email != null">email,</if>
            <if test="jState != null">j_state,</if>
            <if test="jUnit != null">j_unit,</if>
            <if test="jRetire != null">j_retire,</if>
            <if test="jAddress != null">j_address,</if>
            <if test="jCard != null">j_card,</if>
            <if test="jIdentityPhoto != null">j_identity_photo,</if>
            <if test="jDocumentsPhoto != null">j_documents_photo,</if>
            <if test="jBank != null">j_bank,</if>
            <if test="jShState != null">j_sh_state,</if>
            <if test="jOpinion != null">j_opinion,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jName != null">#{jName},</if>
            <if test="jSex != null">#{jSex},</if>
            <if test="jIdentity != null">#{jIdentity},</if>
            <if test="jPhone != null">#{jPhone},</if>
            <if test="email != null">#{email},</if>
            <if test="jState != null">#{jState},</if>
            <if test="jUnit != null">#{jUnit},</if>
            <if test="jRetire != null">#{jRetire},</if>
            <if test="jAddress != null">#{jAddress},</if>
            <if test="jCard != null">#{jCard},</if>
            <if test="jIdentityPhoto != null">#{jIdentityPhoto},</if>
            <if test="jDocumentsPhoto != null">#{jDocumentsPhoto},</if>
            <if test="jBank != null">#{jBank},</if>
            <if test="jShState != null">#{jShState},</if>
            <if test="jOpinion != null">#{jOpinion},</if>
        </trim>
    </insert>

    <update id="updateBsExpert" parameterType="com.hh.pms.sae.domain.BsExpert">
        update bs_expert
        <trim prefix="SET" suffixOverrides=",">
            <if test="jName != null">j_name = #{jName},</if>
            <if test="jSex != null">j_sex = #{jSex},</if>
            <if test="jIdentity != null">j_identity = #{jIdentity},</if>
            <if test="jPhone != null">j_phone = #{jPhone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="jState != null">j_state = #{jState},</if>
            <if test="jUnit != null">j_unit = #{jUnit},</if>
            <if test="jRetire != null">j_retire = #{jRetire},</if>
            <if test="jAddress != null">j_address = #{jAddress},</if>
            <if test="jCard != null">j_card = #{jCard},</if>
            <if test="jIdentityPhoto != null">j_identity_photo = #{jIdentityPhoto},</if>
            <if test="jDocumentsPhoto != null">j_documents_photo = #{jDocumentsPhoto},</if>
            <if test="jBank != null">j_bank = #{jBank},</if>
            <if test="jShState != null">j_sh_state = #{jShState},</if>
            <if test="jOpinion != null">j_opinion = #{jOpinion},</if>
        </trim>
        where jid = #{jid}
    </update>

    <delete id="deleteBsExpertByJid" parameterType="Long">
        delete
        from bs_expert
        where jid = #{jid}
    </delete>

    <delete id="deleteBsExpertByJids" parameterType="String">
        delete from bs_expert where jid in
        <foreach item="jid" collection="array" open="(" separator="," close=")">
            #{jid}
        </foreach>
    </delete>
</mapper>