<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.sae.mapper.BsSupplierMapper">

    <resultMap type="com.hh.pms.sae.domain.BsSupplier" id="BsSupplierResult">
        <result property="hid" column="hid"/>
        <result property="zrId" column="zr_id"/>
        <result property="hName" column="h_name"/>
        <result property="hCreditCode" column="h_credit_code"/>
        <result property="hIncorporation" column="h_incorporation"/>
        <result property="hInstitution" column="h_institution"/>
        <result property="hQuality" column="h_quality"/>
        <result property="hStartTime" column="h_start_time"/>
        <result property="hJuridical" column="h_juridical"/>
        <result property="hJuridicalIdentity" column="h_juridical_identity"/>
        <result property="hAddress" column="h_address"/>
        <result property="hRange" column="h_range"/>
        <result property="hDesc" column="h_desc"/>
        <result property="hCopies" column="h_copies"/>
        <result property="hJuridicalCopies" column="h_juridical_copies"/>
        <result property="hExpiration" column="h_expiration"/>
        <result property="hBank" column="h_bank"/>
        <result property="hAccount" column="h_account"/>
        <result property="hBankAddress" column="h_bank_address"/>
        <result property="hSignPhone" column="h_sign_phone"/>
        <result property="hSignAddress" column="h_sign_address"/>
        <result property="hCapital" column="h_capital"/>
        <result property="hActualCapital" column="h_actual_capital"/>
        <result property="hProve" column="h_prove"/>
        <result property="fStatus" column="f_status"/>
        <result property="fOpinion" column="f_opinion"/>
        <result property="fState" column="f_state"/>
        <result property="fClassify" column="f_classify"/>
        <result property="hLoginAccount" column="h_loginaccount"/>
        <result property="hPassword" column="h_password"/>
    </resultMap>

    <resultMap type="com.hh.pms.sae.domain.NobidNonPro" id="NobidNonProResult">
        <result property="gid" column="gid"/>
        <result property="xyId" column="xy_id"/>
        <result property="gCode" column="g_code"/>
        <result property="gName" column="g_name"/>
        <result property="gIsPublic" column="g_is_public"/>
        <result property="gSpawnTime" column="g_spawn_time"/>
        <result property="gTimeon" column="g_timeon"/>
        <result property="gDeadline" column="g_deadline"/>
        <result property="gStatus" column="g_status"/>
        <result property="gCount" column="g_count"/>
        <result property="gUnit" column="g_unit"/>
        <result property="gRounds" column="g_rounds"/>
        <result property="gTendertype" column="g_tenderType"/>
    </resultMap>

    <resultMap type="com.hh.pms.sae.domain.PpmDevice" id="PpmDeviceResult">
        <result property="tid" column="tid"/>
        <result property="tName" column="t_name"/>
        <result property="category" column="category"/>
        <result property="tUnit" column="t_unit"/>
        <result property="shui" column="shui"/>
        <result property="tIllustrate" column="t_illustrate"/>
        <result property="duCode" column="du_code"/>
        <result property="tNotes" column="t_notes"/>
        <result property="tModel" column="t_model"/>
        <result property="tPrice" column="t_price"/>
        <result property="vCount" column="v_count"/>
        <result property="vPerson" column="v_person"/>
    </resultMap>

    <resultMap type="com.hh.pms.sae.domain.BidSubmission" id="BidSubmissionResult">
        <result property="tdId" column="td_id"/>
        <result property="sid" column="sid"/>
        <result property="hid" column="hid"/>
        <result property="tdStatus" column="td_status"/>
        <result property="tdSuccessTime" column="td_success_time"/>
        <result property="tdFailTime" column="td_fail_time"/>
        <result property="fjFiles" column="fj_files"/>
        <result property="sCode" column="s_code"/>
        <result property="sName" column="s_name"/>
        <result property="sWay" column="s_way"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="sEndTime" column="s_end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="uEndTime" column="u_end_time"/>
    </resultMap>

    <sql id="selectBsSupplierVo">
        select hid,
               zr_id,
               h_name,
               h_credit_code,
               h_incorporation,
               h_institution,
               h_quality,
               h_start_time,
               h_juridical,
               h_juridical_identity,
               h_address,
               h_range,
               h_desc,
               h_copies,
               h_juridical_copies,
               h_expiration,
               h_bank,
               h_account,
               h_bank_address,
               h_sign_phone,
               h_sign_address,
               h_capital,
               h_actual_capital,
               h_prove,
               f_status,
               f_opinion,
               f_state,
               f_classify,
               h_loginaccount,
               h_password
        from bs_supplier
    </sql>

    <select id="selectBsSupplierList" parameterType="com.hh.pms.sae.domain.BsSupplier" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        <where>
            zr_id = 0 and f_state = 1
            <if test="zrId != null ">and zr_id = #{zrId}</if>
            <if test="hName != null  and hName != ''">and h_name like concat('%', #{hName}, '%')</if>
            <if test="hCreditCode != null  and hCreditCode != ''">and h_credit_code = #{hCreditCode}</if>
            <if test="hIncorporation != null  and hIncorporation != ''">and h_incorporation = #{hIncorporation}</if>
            <if test="hInstitution != null  and hInstitution != ''">
                and h_institution like concat('%', #{hInstitution},'%')
            </if>
            <if test="hQuality != null  and hQuality != ''">and h_quality = #{hQuality}</if>
            <if test="hStartTime != null ">and h_start_time = #{hStartTime}</if>
            <if test="hJuridical != null  and hJuridical != ''">and h_juridical = #{hJuridical}</if>
            <if test="hJuridicalIdentity != null  and hJuridicalIdentity != ''">and h_juridical_identity =
                #{hJuridicalIdentity}
            </if>
            <if test="hAddress != null  and hAddress != ''">and h_address = #{hAddress}</if>
            <if test="hRange != null  and hRange != ''">and h_range = #{hRange}</if>
            <if test="hDesc != null  and hDesc != ''">and h_desc = #{hDesc}</if>
            <if test="hCopies != null  and hCopies != ''">and h_copies = #{hCopies}</if>
            <if test="hJuridicalCopies != null  and hJuridicalCopies != ''">and h_juridical_copies =
                #{hJuridicalCopies}
            </if>
            <if test="hExpiration != null ">and h_expiration = #{hExpiration}</if>
            <if test="hBank != null  and hBank != ''">and h_bank = #{hBank}</if>
            <if test="hAccount != null  and hAccount != ''">and h_account = #{hAccount}</if>
            <if test="hBankAddress != null  and hBankAddress != ''">and h_bank_address = #{hBankAddress}</if>
            <if test="hSignPhone != null  and hSignPhone != ''">and h_sign_phone = #{hSignPhone}</if>
            <if test="hSignAddress != null  and hSignAddress != ''">and h_sign_address = #{hSignAddress}</if>
            <if test="hCapital != null ">and h_capital = #{hCapital}</if>
            <if test="hActualCapital != null ">and h_actual_capital = #{hActualCapital}</if>
            <if test="hProve != null  and hProve != ''">and h_prove = #{hProve}</if>
            <if test="fStatus != null ">and f_status = #{fStatus}</if>
            <if test="fOpinion != null  and fOpinion != ''">and f_opinion = #{fOpinion}</if>
            <if test="fState != null ">and f_state = #{fState}</if>
            <if test="fClassify != null ">and f_classify = #{fClassify}</if>
            <if test="hLoginAccount != null and hLoginAccount != ''">and h_loginaccount = #{hLoginAccount}</if>
            <if test="hPassword != null and hPassword != ''">and h_password = #{hPassword}</if>
        </where>
    </select>

    <select id="selectNoBsSupplierList" parameterType="com.hh.pms.sae.domain.BsSupplier" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        <where>
            zr_id = 0 and f_state = 2
            <if test="zrId != null ">and zr_id = #{zrId}</if>
            <if test="hName != null  and hName != ''">and h_name like concat('%', #{hName}, '%')</if>
            <if test="hCreditCode != null  and hCreditCode != ''">and h_credit_code = #{hCreditCode}</if>
            <if test="hIncorporation != null  and hIncorporation != ''">and h_incorporation = #{hIncorporation}</if>
            <if test="hInstitution != null  and hInstitution != ''">
                and h_institution like concat('%', #{hInstitution},'%')
            </if>
            <if test="hQuality != null  and hQuality != ''">and h_quality = #{hQuality}</if>
            <if test="hStartTime != null ">and h_start_time = #{hStartTime}</if>
            <if test="hJuridical != null  and hJuridical != ''">and h_juridical = #{hJuridical}</if>
            <if test="hJuridicalIdentity != null  and hJuridicalIdentity != ''">and h_juridical_identity =
                #{hJuridicalIdentity}
            </if>
            <if test="hAddress != null  and hAddress != ''">and h_address = #{hAddress}</if>
            <if test="hRange != null  and hRange != ''">and h_range = #{hRange}</if>
            <if test="hDesc != null  and hDesc != ''">and h_desc = #{hDesc}</if>
            <if test="hCopies != null  and hCopies != ''">and h_copies = #{hCopies}</if>
            <if test="hJuridicalCopies != null  and hJuridicalCopies != ''">and h_juridical_copies =
                #{hJuridicalCopies}
            </if>
            <if test="hExpiration != null ">and h_expiration = #{hExpiration}</if>
            <if test="hBank != null  and hBank != ''">and h_bank = #{hBank}</if>
            <if test="hAccount != null  and hAccount != ''">and h_account = #{hAccount}</if>
            <if test="hBankAddress != null  and hBankAddress != ''">and h_bank_address = #{hBankAddress}</if>
            <if test="hSignPhone != null  and hSignPhone != ''">and h_sign_phone = #{hSignPhone}</if>
            <if test="hSignAddress != null  and hSignAddress != ''">and h_sign_address = #{hSignAddress}</if>
            <if test="hCapital != null ">and h_capital = #{hCapital}</if>
            <if test="hActualCapital != null ">and h_actual_capital = #{hActualCapital}</if>
            <if test="hProve != null  and hProve != ''">and h_prove = #{hProve}</if>
            <if test="fStatus != null ">and f_status = #{fStatus}</if>
            <if test="fOpinion != null  and fOpinion != ''">and f_opinion = #{fOpinion}</if>
            <if test="fState != null ">and f_state = #{fState}</if>
            <if test="fClassify != null ">and f_classify = #{fClassify}</if>
            <if test="hLoginAccount != null and hLoginAccount != ''">and h_loginaccount = #{hLoginAccount}</if>
            <if test="hPassword != null and hPassword != ''">and h_password = #{hPassword}</if>
        </where>
    </select>

    <select id="selectBsSupplierBadList" parameterType="com.hh.pms.sae.domain.BsSupplier" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        <where>
            zr_id = 0 and f_state != 1
            <if test="zrId != null ">and zr_id = #{zrId}</if>
            <if test="hName != null  and hName != ''">and h_name like concat('%',#{hName},'%')</if>
            <if test="hCreditCode != null  and hCreditCode != ''">and h_credit_code = #{hCreditCode}</if>
            <if test="hIncorporation != null  and hIncorporation != ''">and h_incorporation = #{hIncorporation}</if>
            <if test="hInstitution != null  and hInstitution != ''">
                and h_institution like concat('%', #{hInstitution},'%')
            </if>
            <if test="hQuality != null  and hQuality != ''">and h_quality = #{hQuality}</if>
            <if test="hStartTime != null ">and h_start_time = #{hStartTime}</if>
            <if test="hJuridical != null  and hJuridical != ''">and h_juridical = #{hJuridical}</if>
            <if test="hJuridicalIdentity != null  and hJuridicalIdentity != ''">and h_juridical_identity =
                #{hJuridicalIdentity}
            </if>
            <if test="hAddress != null  and hAddress != ''">and h_address = #{hAddress}</if>
            <if test="hRange != null  and hRange != ''">and h_range = #{hRange}</if>
            <if test="hDesc != null  and hDesc != ''">and h_desc = #{hDesc}</if>
            <if test="hCopies != null  and hCopies != ''">and h_copies = #{hCopies}</if>
            <if test="hJuridicalCopies != null  and hJuridicalCopies != ''">and h_juridical_copies =
                #{hJuridicalCopies}
            </if>
            <if test="hExpiration != null ">and h_expiration = #{hExpiration}</if>
            <if test="hBank != null  and hBank != ''">and h_bank = #{hBank}</if>
            <if test="hAccount != null  and hAccount != ''">and h_account = #{hAccount}</if>
            <if test="hBankAddress != null  and hBankAddress != ''">and h_bank_address = #{hBankAddress}</if>
            <if test="hSignPhone != null  and hSignPhone != ''">and h_sign_phone = #{hSignPhone}</if>
            <if test="hSignAddress != null  and hSignAddress != ''">and h_sign_address = #{hSignAddress}</if>
            <if test="hCapital != null ">and h_capital = #{hCapital}</if>
            <if test="hActualCapital != null ">and h_actual_capital = #{hActualCapital}</if>
            <if test="hProve != null  and hProve != ''">and h_prove = #{hProve}</if>
            <if test="fStatus != null ">and f_status = #{fStatus}</if>
            <if test="fOpinion != null  and fOpinion != ''">and f_opinion = #{fOpinion}</if>
            <if test="fState != null ">and f_state = #{fState}</if>
            <if test="fClassify != null ">and f_classify = #{fClassify}</if>
            <if test="hLoginAccount != null and hLoginAccount != ''">and h_loginaccount = #{hLoginAccount}</if>
            <if test="hPassword != null and hPassword != ''">and h_password = #{hPassword}</if>
        </where>
    </select>

    <select id="selectBsSupplierByHid" parameterType="Long" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        where hid = #{hid}
    </select>

    <select id="selectBsSupplierByZrId" parameterType="Long" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        where zr_id = #{zrId}
    </select>

    <insert id="insertBsSupplier" parameterType="com.hh.pms.sae.domain.BsSupplier" useGeneratedKeys="true"
            keyProperty="hid">
        insert into bs_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zrId != null">zr_id,</if>
            <if test="hName != null">h_name,</if>
            <if test="hCreditCode != null">h_credit_code,</if>
            <if test="hIncorporation != null">h_incorporation,</if>
            <if test="hInstitution != null">h_institution,</if>
            <if test="hQuality != null">h_quality,</if>
            <if test="hStartTime != null">h_start_time,</if>
            <if test="hJuridical != null">h_juridical,</if>
            <if test="hJuridicalIdentity != null">h_juridical_identity,</if>
            <if test="hAddress != null">h_address,</if>
            <if test="hRange != null">h_range,</if>
            <if test="hDesc != null">h_desc,</if>
            <if test="hCopies != null">h_copies,</if>
            <if test="hJuridicalCopies != null">h_juridical_copies,</if>
            <if test="hExpiration != null">h_expiration,</if>
            <if test="hBank != null">h_bank,</if>
            <if test="hAccount != null">h_account,</if>
            <if test="hBankAddress != null">h_bank_address,</if>
            <if test="hSignPhone != null">h_sign_phone,</if>
            <if test="hSignAddress != null">h_sign_address,</if>
            <if test="hCapital != null">h_capital,</if>
            <if test="hActualCapital != null">h_actual_capital,</if>
            <if test="hProve != null">h_prove,</if>
            <if test="fStatus != null">f_status,</if>
            <if test="fOpinion != null">f_opinion,</if>
            <if test="fState != null">f_state,</if>
            <if test="fClassify != null">f_classify,</if>
            <if test="hLoginAccount != null ">h_loginaccount,</if>
            <if test="hPassword != null ">h_password,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zrId != null">#{zrId},</if>
            <if test="hName != null">#{hName},</if>
            <if test="hCreditCode != null">#{hCreditCode},</if>
            <if test="hIncorporation != null">#{hIncorporation},</if>
            <if test="hInstitution != null">#{hInstitution},</if>
            <if test="hQuality != null">#{hQuality},</if>
            <if test="hStartTime != null">#{hStartTime},</if>
            <if test="hJuridical != null">#{hJuridical},</if>
            <if test="hJuridicalIdentity != null">#{hJuridicalIdentity},</if>
            <if test="hAddress != null">#{hAddress},</if>
            <if test="hRange != null">#{hRange},</if>
            <if test="hDesc != null">#{hDesc},</if>
            <if test="hCopies != null">#{hCopies},</if>
            <if test="hJuridicalCopies != null">#{hJuridicalCopies},</if>
            <if test="hExpiration != null">#{hExpiration},</if>
            <if test="hBank != null">#{hBank},</if>
            <if test="hAccount != null">#{hAccount},</if>
            <if test="hBankAddress != null">#{hBankAddress},</if>
            <if test="hSignPhone != null">#{hSignPhone},</if>
            <if test="hSignAddress != null">#{hSignAddress},</if>
            <if test="hCapital != null">#{hCapital},</if>
            <if test="hActualCapital != null">#{hActualCapital},</if>
            <if test="hProve != null">#{hProve},</if>
            <if test="fStatus != null">#{fStatus},</if>
            <if test="fOpinion != null">#{fOpinion},</if>
            <if test="fState != null">#{fState},</if>
            <if test="fClassify != null">#{fClassify},</if>
            <if test="hLoginAccount != null ">#{hLoginAccount},</if>
            <if test="hPassword != null ">#{hPassword},</if>
        </trim>
    </insert>

    <update id="updateBsSupplier" parameterType="com.hh.pms.sae.domain.BsSupplier">
        update bs_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="zrId != null">zr_id = #{zrId},</if>
            <if test="hName != null">h_name = #{hName},</if>
            <if test="hCreditCode != null">h_credit_code = #{hCreditCode},</if>
            <if test="hIncorporation != null">h_incorporation = #{hIncorporation},</if>
            <if test="hInstitution != null">h_institution = #{hInstitution},</if>
            <if test="hQuality != null">h_quality = #{hQuality},</if>
            <if test="hStartTime != null">h_start_time = #{hStartTime},</if>
            <if test="hJuridical != null">h_juridical = #{hJuridical},</if>
            <if test="hJuridicalIdentity != null">h_juridical_identity = #{hJuridicalIdentity},</if>
            <if test="hAddress != null">h_address = #{hAddress},</if>
            <if test="hRange != null">h_range = #{hRange},</if>
            <if test="hDesc != null">h_desc = #{hDesc},</if>
            <if test="hCopies != null">h_copies = #{hCopies},</if>
            <if test="hJuridicalCopies != null">h_juridical_copies = #{hJuridicalCopies},</if>
            <if test="hExpiration != null">h_expiration = #{hExpiration},</if>
            <if test="hBank != null">h_bank = #{hBank},</if>
            <if test="hAccount != null">h_account = #{hAccount},</if>
            <if test="hBankAddress != null">h_bank_address = #{hBankAddress},</if>
            <if test="hSignPhone != null">h_sign_phone = #{hSignPhone},</if>
            <if test="hSignAddress != null">h_sign_address = #{hSignAddress},</if>
            <if test="hCapital != null">h_capital = #{hCapital},</if>
            <if test="hActualCapital != null">h_actual_capital = #{hActualCapital},</if>
            <if test="hProve != null">h_prove = #{hProve},</if>
            <if test="fStatus != null">f_status = #{fStatus},</if>
            <if test="fOpinion != null">f_opinion = #{fOpinion},</if>
            <if test="fState != null">f_state = #{fState},</if>
            <if test="fClassify != null">f_classify = #{fClassify},</if>
            <if test="hLoginAccount != null ">and h_loginaccount = #{hLoginAccount}</if>
            <if test="hPassword != null ">and h_password = #{hPassword}</if>
        </trim>
        where hid = #{hid}
    </update>

    <delete id="deleteBsSupplierByHid" parameterType="Long">
        delete
        from bs_supplier
        where hid = #{hid}
    </delete>

    <delete id="deleteBsSupplierByHids" parameterType="String">
        delete from bs_supplier where hid in
        <foreach item="hid" collection="array" open="(" separator="," close=")">
            #{hid}
        </foreach>
    </delete>

    <select id="loginSupplier" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        where h_loginaccount = #{hLoginAccount}
        and h_password = #{hPassword}
    </select>

    <select id="onlyHCreditCode" resultMap="BsSupplierResult">
        <include refid="selectBsSupplierVo"/>
        where h_credit_code = #{hCreditCode}
    </select>

    <select id="selectAllNoBid" resultMap="NobidNonProResult">
        select *
        from nobid_non_pro
        <where>
            g_tenderType in (3,5) and g_release = 1 and g_deadline &gt; now()
            <if test="gName != null  and gName != ''">and g_name like concat('%', #{gName}, '%')</if>
        </where>
        order by g_timeon asc
    </select>

    <select id="queryOneByCode" resultMap="NobidNonProResult">
        select *
        from nobid_non_pro
        where g_code = #{code}
    </select>

    <select id="listDev" resultMap="PpmDeviceResult">
        SELECT e.*,
               i.v_count,
               i.v_person
        FROM nobid_non_pro p
                 JOIN ppm_line_items i ON p.xy_id = i.aid
                 JOIN ppm_device e ON i.tid = e.tid
        WHERE p.gid = #{gid}
    </select>

    <select id="listSubmission" resultMap="BidSubmissionResult">
        select *
        from bid_submission s
        inner join bid_tender t on s.sid = t.sid
        inner join bid_notice n on n.sid = t.sid
        <where>
            s.hid = #{hid} and n.fj_status = 5
            <if test="sName != null and sName != ''">and s_name like concat('%',#{sName},'%')</if>
        </where>
        order by td_success_time desc
    </select>
</mapper>