<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.bidding.mapper.BidCandidateMapper">

    <resultMap type="com.hh.bidding.domain.BidCandidate" id="BidCandidateResult">
        <result property="zid" column="zid"/>
        <result property="sid" column="sid"/>
        <result property="hid" column="hid"/>
        <result property="zFinal" column="z_final"/>
        <result property="zFraction" column="z_fraction"/>
        <result property="zRecommend" column="z_recommend"/>
        <result property="zRanking" column="z_ranking"/>
        <result property="zSign" column="z_sign"/>
        <result property="zCensor" column="z_censor"/>
        <result property="zReview" column="z_review"/>
        <result property="zSummary" column="z_summary"/>
        <result property="zBidder" column="z_bidder"/>
        <result property="zSendTime" column="z_send_time"/>
        <result property="hName" column="hName"/>
    </resultMap>

    <sql id="selectBidCandidateVo">
        select zid,
               hName,
               sid,
               hid,
               z_final,
               z_fraction,
               z_recommend,
               z_ranking,
               z_sign,
               z_censor,
               z_review,
               z_summary,
               z_bidder,
               z_send_time
        from bid_candidate
    </sql>

    <select id="selectBidCandidateList" parameterType="com.hh.bidding.domain.BidCandidate"
            resultMap="BidCandidateResult">
        <include refid="selectBidCandidateVo"/>
        <where>
            <if test="sid != null ">and sid = #{sid}</if>
            <if test="hid != null">and hid =#{hid}</if>
            <if test="zFinal != null ">and z_final = #{zFinal}</if>
            <if test="zFraction != null ">and z_fraction = #{zFraction}</if>
            <if test="zRecommend != null ">and z_recommend = #{zRecommend}</if>
            <if test="zRanking != null ">and z_ranking = #{zRanking}</if>
            <if test="zSign != null  and zSign != ''">and z_sign = #{zSign}</if>
            <if test="zCensor != null  and zCensor != ''">and z_censor = #{zCensor}</if>
            <if test="zReview != null  and zReview != ''">and z_review = #{zReview}</if>
            <if test="zSummary != null  and zSummary != ''">and z_summary = #{zSummary}</if>
            <if test="zBidder != null ">and z_bidder = #{zBidder}</if>
            <if test="zSendTime != null ">and z_send_time = #{zSendTime}</if>
            <if test="hName != null ">and hName = #{hName}</if>
        </where>
    </select>

    <select id="selectBidCandidateByZid" parameterType="Long" resultMap="BidCandidateResult">
        <include refid="selectBidCandidateVo"/>
        where zid = #{zid}
    </select>

    <insert id="insertBidCandidate" parameterType="com.hh.bidding.domain.BidCandidate">
        insert into bid_candidate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zid != null">zid,</if>
            <if test="sid != null">sid,</if>
            <if test="hid != null">hid,</if>
            <if test="zFinal != null">z_final,</if>
            <if test="zFraction != null">z_fraction,</if>
            <if test="zRecommend != null">z_recommend,</if>
            <if test="zRanking != null">z_ranking,</if>
            <if test="zSign != null">z_sign,</if>
            <if test="zCensor != null">z_censor,</if>
            <if test="zReview != null">z_review,</if>
            <if test="zSummary != null">z_summary,</if>
            <if test="zBidder != null">z_bidder,</if>
            <if test="zSendTime != null">z_send_time,</if>
            <if test="hName != null ">hName,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zid != null">#{zid},</if>
            <if test="sid != null">#{sid},</if>
            <if test="hid != null">#{hid},</if>
            <if test="zFinal != null">#{zFinal},</if>
            <if test="zFraction != null">#{zFraction},</if>
            <if test="zRecommend != null">#{zRecommend},</if>
            <if test="zRanking != null">#{zRanking},</if>
            <if test="zSign != null">#{zSign},</if>
            <if test="zCensor != null">#{zCensor},</if>
            <if test="zReview != null">#{zReview},</if>
            <if test="zSummary != null">#{zSummary},</if>
            <if test="zBidder != null">#{zBidder},</if>
            <if test="zSendTime != null">#{zSendTime},</if>
            <if test="hName != null ">#{hName},</if>
        </trim>
    </insert>

    <update id="updateBidCandidate" parameterType="com.hh.bidding.domain.BidCandidate">
        update bid_candidate
        <trim prefix="SET" suffixOverrides=",">
            <if test="sid != null">sid = #{sid},</if>
            <if test="hid != null">hid =#{hid},</if>
            <if test="zFinal != null">z_final = #{zFinal},</if>
            <if test="zFraction != null">z_fraction = #{zFraction},</if>
            <if test="zRecommend != null">z_recommend = #{zRecommend},</if>
            <if test="zRanking != null">z_ranking = #{zRanking},</if>
            <if test="zSign != null">z_sign = #{zSign},</if>
            <if test="zCensor != null">z_censor = #{zCensor},</if>
            <if test="zReview != null">z_review = #{zReview},</if>
            <if test="zSummary != null">z_summary = #{zSummary},</if>
            <if test="zBidder != null">z_bidder = #{zBidder},</if>
            <if test="zSendTime != null">z_send_time = #{zSendTime},</if>
            <if test="hName != null ">hName = #{hName},</if>
        </trim>
        where zid = #{zid}
    </update>

    <delete id="deleteBidCandidateByZid" parameterType="Long">
        delete
        from bid_candidate
        where zid = #{zid}
    </delete>

    <delete id="deleteBidCandidateByZids" parameterType="String">
        delete from bid_candidate where zid in
        <foreach item="zid" collection="array" open="(" separator="," close=")">
            #{zid}
        </foreach>
    </delete>

    <select id="selectBidCandidateBySid" parameterType="Long" resultMap="BidCandidateResult">
        <include refid="selectBidCandidateVo"/>
        where sid = #{sid} and z_bidder=0
    </select>


    <select id="selectSuppCand" parameterType="Long" resultMap="twoTable">
        select zid,
               c.sid,
               z_final,
               z_fraction,
               z_recommend,
               z_ranking,
               z_sign,
               z_censor,
               z_review,
               z_summary,
               z_bidder,
               z_send_time,
               s.*
        from bid_candidate c
                 inner join bs_supplier s on c.hid = s.hid
        where c.sid = #{sid}
    </select>
    <resultMap id="twoTable" type="com.hh.bidding.domain.BidCandidate">
        <id column="zid" property="zid"/>
        <collection property="bsSuppliers" ofType="com.hh.bidding.domain.BsSupplier">
            <id property="hid" column="hid"/>
            <association property="bsOperator"/>
        </collection>
    </resultMap>
</mapper>