<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.bidding.mapper.BidNoticeMapper">

    <resultMap type="com.hh.bidding.domain.BidNotice" id="BidNoticeResult">
        <result property="uid" column="uid"/>
        <result property="sid" column="sid"/>
        <result property="uTitle" column="u_title"/>
        <result property="uProject" column="u_project"/>
        <result property="uMoney" column="u_money"/>
        <result property="uGetTime" column="u_get_time"/>
        <result property="uAcceptTime" column="u_accept_time"/>
        <result property="uEndTime" column="u_end_time"/>
        <result property="uKaiTime" column="u_kai_time"/>
        <result property="fjAnnex" column="fj_annex"/>
        <result property="fjStatus" column="fj_status"/>
        <result property="fjRemark" column="fj_remark"/>
        <result property="uUpdateTime" column="u_updateTime"/>
    </resultMap>

    <sql id="selectBidNoticeVo">
        select uid,
               sid,
               u_title,
               u_project,
               u_money,
               u_get_time,
               u_accept_time,
               u_end_time,
               u_kai_time,
               fj_annex,
               fj_status,
               fj_remark,
               u_updateTime
        from bid_notice
    </sql>

    <select id="selectBidNoticeList" parameterType="com.hh.bidding.domain.BidNotice" resultMap="BidNoticeResult">
        <include refid="selectBidNoticeVo"/>
        <where>
            <if test="uid != null ">and uid = #{uid}</if>
            <if test="sid != null ">and sid = #{sid}</if>
            <if test="uTitle != null  and uTitle != ''">and u_title = #{uTitle}</if>
            <if test="uProject != null ">and u_project = #{uProject}</if>
            <if test="uMoney != null ">and u_money = #{uMoney}</if>
            <if test="uGetTime != null ">and u_get_time = #{uGetTime}</if>
            <if test="uAcceptTime != null ">and u_accept_time = #{uAcceptTime}</if>
            <if test="uEndTime != null ">and u_end_time >= now() and u_end_time >= u_updateTime</if>
            <if test="uKaiTime != null ">and DATE(u_kai_time) = CURDATE()</if>
            <if test="fjAnnex != null ">and fj_annex = #{fjAnnex}</if>
            <if test="fjStatus != null ">and fj_status = #{fjStatus}</if>
            <if test="fjRemark != null  and fjRemark != ''">and fj_remark = #{fjRemark}</if>
            <if test="uUpdateTime != null">and u_updateTime >= now()</if>
        </where>
        order by u_updateTime desc
    </select>

    <select id="selectBidNoticeByUid" parameterType="Long" resultMap="BidNoticeResult">
        <include refid="selectBidNoticeVo"/>
        where uid = #{uid}
    </select>
    <select id="findAllByEndTime" resultType="com.hh.bidding.domain.BidNotice" resultMap="TwoTableResult">
        select n.uid uid,u_title,u_project,u_money,u_get_time,u_accept_time,u_end_time,u_kai_time,fj_remark,fj_annex,fj_status,u_updateTime,t.*
        from bid_notice n inner join bid_tender t on n.sid = t.sid
        WHERE  fj_status = 5 and s_project_state=7
    </select>

    <select id="findStatus" resultType="com.hh.bidding.domain.BidNotice">
        select * from bid_notice where fj_status=5 and sid=#{sid}
    </select>

    <insert id="insertBidNotice" parameterType="com.hh.bidding.domain.BidNotice">
        insert into bid_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="sid != null">sid,</if>
            <if test="uTitle != null">u_title,</if>
            <if test="uProject != null">u_project,</if>
            <if test="uMoney != null">u_money,</if>
            <if test="uGetTime != null">u_get_time,</if>
            <if test="uAcceptTime != null">u_accept_time,</if>
            <if test="uEndTime != null">u_end_time,</if>
            <if test="uKaiTime != null">u_kai_time,</if>
            <if test="fjAnnex != null">fj_annex,</if>
            <if test="fjStatus != null">fj_status,</if>
            <if test="fjRemark != null">fj_remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="sid != null">#{sid},</if>
            <if test="uTitle != null">#{uTitle},</if>
            <if test="uProject != null">#{uProject},</if>
            <if test="uMoney != null">#{uMoney},</if>
            <if test="uGetTime != null">#{uGetTime},</if>
            <if test="uAcceptTime != null">#{uAcceptTime},</if>
            <if test="uEndTime != null">#{uEndTime},</if>
            <if test="uKaiTime != null">#{uKaiTime},</if>
            <if test="fjAnnex != null">#{fjAnnex},</if>
            <if test="fjStatus != null">#{fjStatus},</if>
            <if test="fjRemark != null">#{fjRemark},</if>
        </trim>
    </insert>

    <update id="updateBidNotice" parameterType="com.hh.bidding.domain.BidNotice">
        update bid_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="sid != null">sid = #{sid},</if>
            <if test="uTitle != null">u_title = #{uTitle},</if>
            <if test="uProject != null">u_project = #{uProject},</if>
            <if test="uMoney != null">u_money = #{uMoney},</if>
            <if test="uGetTime != null">u_get_time = #{uGetTime},</if>
            <if test="uAcceptTime != null">u_accept_time = #{uAcceptTime},</if>
            <if test="uEndTime != null">u_end_time = #{uEndTime},</if>
            <if test="uKaiTime != null">u_kai_time = #{uKaiTime},</if>
            <if test="fjAnnex != null">fj_annex = #{fjAnnex},</if>
            <if test="fjStatus != null">fj_status = #{fjStatus},</if>
            <if test="fjRemark != null">fj_remark = #{fjRemark},</if>
            <if test="fjStatus == 5">u_updateTime = NOW()</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteBidNoticeByUid" parameterType="Long">
        delete
        from bid_notice
        where uid = #{uid}
    </delete>
    <delete id="deleteYfb" parameterType="Long">
        delete
        from bid_notice
        where fj_status=5 and sid=#{sid}
    </delete>

    <delete id="deleteBidNoticeByUids" parameterType="String">
        delete from bid_notice where uid in
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>

    <select id="findTwoInfo" resultMap="TwoTableResult" parameterType="Long">
        select n.uid uid,u_title,u_project,u_money,u_get_time,u_accept_time,u_end_time,u_kai_time,fj_remark,fj_annex,fj_status,u_updateTime,t.*
        from bid_notice n inner join bid_tender t on n.sid = t.sid where uid=#{uid}
    </select>

    <resultMap id="TwoTableResult" type="com.hh.bidding.domain.BidNotice">
        <id column="uid" property="uid"/>
            <association property="bidTender" >
                <id column="sid" property="sid"/>
            </association>
    </resultMap>

    <select id="selMax">
        select * from bid_notice order by uid desc limit 1;
    </select>


    <update id="updateStatus" parameterType="Long">
        update bid_notice set u_updateTime = now() where fj_status = 5 and sid = #{sid}
    </update>

</mapper>