<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.bidding.mapper.BidTenderMapper">

    <resultMap type="com.hh.bidding.domain.BidTender" id="BidTenderResult">
        <result property="sid" column="sid"/>
        <result property="xyId" column="xy_id"/>
        <result property="sCode" column="s_code"/>
        <result property="sName" column="s_name"/>
        <result property="sWay" column="s_way"/>
        <result property="sLeader" column="s_leader"/>
        <result property="sMust" column="s_must"/>
        <result property="sSway" column="s_sway"/>
        <result property="sType" column="s_type"/>
        <result property="sBudget" column="s_budget"/>
        <result property="sUnit" column="s_unit"/>
        <result property="sPerson" column="s_person"/>
        <result property="sPhone" column="s_phone"/>
        <result property="email" column="email"/>
        <result property="sAddress" column="s_address"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="sStartTime" column="s_start_time"/>
        <result property="sEndTime" column="s_end_time"/>
        <result property="sProjectState" column="s_project_state"/>
        <result property="sDeadline" column="s_deadline"/>
        <result property="createTime" column="create_time"/>
        <result property="eid" column="eid"/>
        <result property="fjFiles" column="fj_files"/>
    </resultMap>

    <sql id="selectBidTenderVo">
        select sid,
               xy_id,
               s_code,
               s_name,
               s_way,
               s_leader,
               s_must,
               s_sway,
               s_type,
               s_budget,
               s_unit,
               s_person,
               s_phone,
               email,
               s_address,
               create_by,
               create_time,
               update_by,
               update_time,
               s_start_time,
               s_end_time,
               s_project_state,
               s_deadline,
               eid,
               fj_files
        from bid_tender
    </sql>

    <select id="selectBidTenderList" parameterType="com.hh.bidding.domain.BidTender" resultMap="BidTenderResult">
        <include refid="selectBidTenderVo"/>
        <where>
            <if test="xyId != null ">and xy_id = #{xyId}</if>
            <if test="sCode != null  and sCode != ''">and s_code = #{sCode}</if>
            <if test="sName != null  and sName != ''">and s_name like concat('%', #{sName}, '%')</if>
            <if test="sWay != null ">and s_way = #{sWay}</if>
            <if test="sLeader != null ">and s_leader = #{sLeader}</if>
            <if test="sMust != null ">and s_must = #{sMust}</if>
            <if test="sSway != null ">and s_sway = #{sSway}</if>
            <if test="sType != null ">and s_type = #{sType}</if>
            <if test="sBudget != null ">and s_budget = #{sBudget}</if>
            <if test="sUnit != null  and sUnit != ''">and s_unit = #{sUnit}</if>
            <if test="sPerson != null  and sPerson != ''">and s_person = #{sPerson}</if>
            <if test="sPhone != null  and sPhone != ''">and s_phone = #{sPhone}</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="sAddress != null  and sAddress != ''">and s_address = #{sAddress}</if>
            <if test="sStartTime != null ">and s_start_time = #{sStartTime}</if>
            <if test="sEndTime != null ">and s_end_time = #{sEndTime}</if>
            <if test="sProjectState != null ">and s_project_state = #{sProjectState}</if>
            <if test="rangeStartTime != null and rangeEndTime != null">and create_time between #{rangeStartTime} and
                #{rangeEndTime}
            </if>
            <if test="eid != null ">and eid = #{eid}</if>
            <if test="fjFiles != null ">and fj_files = #{fjFiles}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectBidTenderBySid" parameterType="Long" resultMap="BidTenderResult">
        select * from bid_tender
        where sid = #{sid}
    </select>

    <!--查询未创建合同的招标项目-->
    <select id="selectNoEidTenderList" resultMap="BidTenderResult">
        select * from bid_tender
        <where>
            eid is null and s_project_state=#{sProjectState}
            <if test="sCode != null  and sCode != ''">
                and s_code like concat('%', #{sCode}, '%')
            </if>
            <if test="sName != null  and sName != ''">
                and s_name like concat('%', #{sName}, '%')
            </if>
        </where>
    </select>

    <select id="selectTenderBySid" resultType="com.hh.bidding.domain.BidTender">
        select s_code, s_name, s_way, s_type
        from bid_tender
        WHERE sid = #{sid}
    </select>

    <insert id="insertBidTender" parameterType="com.hh.bidding.domain.BidTender">
        insert into bid_tender
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">sid,</if>
            <if test="xyId != null">xy_id,</if>
            <if test="sCode != null">s_code,</if>
            <if test="sName != null">s_name,</if>
            <if test="sWay != null">s_way,</if>
            <if test="sLeader != null ">s_leader,</if>
            <if test="sMust != null">s_must,</if>
            <if test="sSway != null">s_sway,</if>
            <if test="sType != null">s_type,</if>
            <if test="sBudget != null">s_budget,</if>
            <if test="sUnit != null">s_unit,</if>
            <if test="sPerson != null">s_person,</if>
            <if test="sPhone != null">s_phone,</if>
            <if test="email != null">email,</if>
            <if test="sAddress != null">s_address,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sStartTime != null">s_start_time,</if>
            <if test="sEndTime != null">s_end_time,</if>
            <if test="sProjectState != null">s_project_state,</if>
            <if test="sDeadline != null">s_deadline,</if>
            <if test="eid != null">eid,</if>
            <if test="fjFiles != null ">fj_files,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">#{sid},</if>
            <if test="xyId != null">#{xyId},</if>
            <if test="sCode != null">#{sCode},</if>
            <if test="sName != null">#{sName},</if>
            <if test="sWay != null">#{sWay},</if>
            <if test="sLeader != null ">#{sLeader}</if>
            <if test="sMust != null">#{sMust},</if>
            <if test="sSway != null">#{sSway},</if>
            <if test="sType != null">#{sType},</if>
            <if test="sBudget != null">#{sBudget},</if>
            <if test="sUnit != null">#{sUnit},</if>
            <if test="sPerson != null">#{sPerson},</if>
            <if test="sPhone != null">#{sPhone},</if>
            <if test="email != null">#{email},</if>
            <if test="sAddress != null">#{sAddress},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sStartTime != null">#{sStartTime},</if>
            <if test="sEndTime != null">#{sEndTime},</if>
            <if test="sProjectState != null">#{sProjectState},</if>
            <if test="sDeadline != null">#{sDeadline},</if>
            <if test="eid != null">#{eid},</if>
            <if test="fjFiles != null ">#{fjFiles},</if>
        </trim>
    </insert>

    <update id="updateBidTender" parameterType="com.hh.bidding.domain.BidTender">
        update bid_tender
        <trim prefix="SET" suffixOverrides=",">
            <if test="xyId != null">xy_id = #{xyId},</if>
            <if test="sCode != null">s_code = #{sCode},</if>
            <if test="sName != null">s_name = #{sName},</if>
            <if test="sWay != null">s_way = #{sWay},</if>
            <if test="sLeader != null ">s_leader = #{sLeader},</if>
            <if test="sMust != null">s_must = #{sMust},</if>
            <if test="sSway != null">s_sway = #{sSway},</if>
            <if test="sType != null">s_type = #{sType},</if>
            <if test="sBudget != null">s_budget = #{sBudget},</if>
            <if test="sUnit != null">s_unit = #{sUnit},</if>
            <if test="sPerson != null">s_person = #{sPerson},</if>
            <if test="sPhone != null">s_phone = #{sPhone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="sAddress != null">s_address = #{sAddress},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sStartTime != null">s_start_time = #{sStartTime},</if>
            <if test="sEndTime != null">s_end_time = #{sEndTime},</if>
            <if test="sProjectState != null">s_project_state = #{sProjectState},</if>
            <if test="sDeadline != null">s_deadline = #{sDeadline},</if>
            <if test="eid != null">eid = #{eid},</if>
            <if test="fjFiles != null ">fj_files = #{fjFiles},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteBidTenderBySid" parameterType="Long">
        delete
        from bid_tender
        where sid = #{sid}
    </delete>

    <delete id="deleteBidTenderBySids" parameterType="String">
        delete from bid_tender where sid in
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>


    <select id="findTenderAndNotice" parameterType="Long" resultMap="twoTable">
        select t.*,n.u_end_time,n.fj_status from bid_tender t inner join bid_notice n on t.sid = n.sid where t.sid = #{sid} and n.fj_status = 5
    </select>
    <resultMap id="twoTable" type="com.hh.bidding.domain.BidTender">
        <id column="sid" property="sid"/>
        <collection property="bidNotices" ofType="com.hh.bidding.domain.BidNotice">
            <id property="uid" column="uid"/>
        </collection>
    </resultMap>
</mapper>