<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.ComCodeRulesMapper">

    <resultMap type="ComCodeRules" id="ComCodeRulesResult">
        <result property="id"    column="id"    />
        <result property="targetForm"    column="target_form"    />
        <result property="prefix"    column="prefix"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="step"    column="step"    />
        <result property="codeRules"    column="code_rules"    />
        <result property="operator"    column="operator"    />
        <result property="updateTime"    column="update_time"    />
        <result property="year"    column="year"    />
        <result property="mouth"    column="mouth"    />
        <result property="day"    column="day"    />
        <result property="hour"    column="hour"    />
        <result property="minute"    column="minute"    />
        <result property="second"    column="second"    />
        <result property="maxMantissa" column="max_mantissa"/>
    </resultMap>

    <sql id="selectComCodeRulesVo">
        select id, target_form, prefix, serial_number, step, code_rules, operator, update_time, year, mouth, day, hour, minute, second from com_code_rules
    </sql>

    <select id="selectComCodeRulesList" parameterType="ComCodeRules" resultMap="ComCodeRulesResult">
        <include refid="selectComCodeRulesVo"/>
        <where>
            <if test="targetForm != null  and targetForm != ''"> and target_form = #{targetForm}</if>
            <if test="prefix != null  and prefix != ''"> and prefix = #{prefix}</if>
            <if test="serialNumber != null "> and serial_number = #{serialNumber}</if>
            <if test="step != null "> and step = #{step}</if>
            <if test="codeRules != null  and codeRules != ''"> and code_rules = #{codeRules}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="mouth != null  and mouth != ''"> and mouth = #{mouth}</if>
            <if test="day != null  and day != ''"> and day = #{day}</if>
            <if test="hour != null  and hour != ''"> and hour = #{hour}</if>
            <if test="minute != null  and minute != ''"> and minute = #{minute}</if>
            <if test="second != null  and second != ''"> and second = #{second}</if>
        </where>
    </select>

    <select id="selectComCodeRulesById" parameterType="Long" resultMap="ComCodeRulesResult">
        <include refid="selectComCodeRulesVo"/>
        where id = #{id}
    </select>

    <select id="selectComCodeRulesByTargetForm" resultType="com.hh.pms.domain.ComCodeRules">
        SELECT * from com_code_rules WHERE target_form = #{targetForm}
    </select>

    <insert id="insertComCodeRules" parameterType="ComCodeRules" useGeneratedKeys="true" keyProperty="id">
        insert into com_code_rules
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="targetForm != null">target_form,</if>
            <if test="prefix != null">prefix,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="step != null">step,</if>
            <if test="codeRules != null">code_rules,</if>
            <if test="operator != null">operator,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="year != null">year,</if>
            <if test="mouth != null">mouth,</if>
            <if test="day != null">day,</if>
            <if test="hour != null">hour,</if>
            <if test="minute != null">minute,</if>
            <if test="second != null">second,</if>
            <if test="maxMantissa != null">max_mantissa,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="targetForm != null">#{targetForm},</if>
            <if test="prefix != null">#{prefix},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="step != null">#{step},</if>
            <if test="codeRules != null">#{codeRules},</if>
            <if test="operator != null">#{operator},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="year != null">#{year},</if>
            <if test="mouth != null">#{mouth},</if>
            <if test="day != null">#{day},</if>
            <if test="hour != null">#{hour},</if>
            <if test="minute != null">#{minute},</if>
            <if test="second != null">#{second},</if>
            <if test="maxMantissa != null">#{maxMantissa},</if>
        </trim>
    </insert>

    <update id="updateComCodeRules" parameterType="ComCodeRules">
        update com_code_rules
        <trim prefix="SET" suffixOverrides=",">
            <if test="targetForm != null">target_form = #{targetForm},</if>
            <if test="prefix != null">prefix = #{prefix},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="step != null">step = #{step},</if>
            <if test="codeRules != null">code_rules = #{codeRules},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="year != null">year = #{year},</if>
            <if test="mouth != null">mouth = #{mouth},</if>
            <if test="day != null">day = #{day},</if>
            <if test="hour != null">hour = #{hour},</if>
            <if test="minute != null">minute = #{minute},</if>
            <if test="second != null">second = #{second},</if>
            <if test="maxMantissa != null">max_mantissa = #{maxMantissa},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteComCodeRulesById" parameterType="Long">
        delete from com_code_rules where id = #{id}
    </delete>

    <delete id="deleteComCodeRulesByIds" parameterType="String">
        delete from com_code_rules where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>