<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.ComPubAttachmentsMapper">

    <resultMap type="ComPubAttachments" id="ComPubAttachmentsResult">
        <result property="anId" column="an_id"/>
        <result property="aid" column="aid"/>
        <result property="jhid" column="jhid"/>
        <result property="eid" column="eid"/>
        <result property="anName" column="an_name"/>
        <result property="anType" column="an_type"/>
        <result property="anDan" column="an_dan"/>
        <result property="anUrl" column="an_url"/>
        <result property="anSize" column="an_size"/>
        <result property="anUploadTime" column="an_upload_time"/>
    </resultMap>

    <sql id="selectComPubAttachmentsVo">
        select an_id,
               aid,
               jhid,
               eid,
               an_name,
               an_type,
               an_dan,
               an_url,
               an_size,
               an_upload_time
        from com_pub_attachments
    </sql>

    <select id="selectComPubAttachmentsList" parameterType="ComPubAttachments" resultMap="ComPubAttachmentsResult">
        <include refid="selectComPubAttachmentsVo"/>
        <where>
            <if test="aid != null ">and aid = #{aid}</if>
            <if test="jhid != null ">and jhid = #{jhid}</if>
            <if test="eid != null ">and eid = #{eid}</if>
            <if test="anName != null  and anName != ''">and an_name like concat('%', #{anName}, '%')</if>
            <if test="anType != null ">and an_type = #{anType}</if>
            <if test="anDan != null  and anDan != ''">and an_dan = #{anDan}</if>
            <if test="anUrl != null  and anUrl != ''">and an_url = #{anUrl}</if>
            <if test="anSize != null ">and an_size = #{anSize}</if>
            <if test="anUploadTime != null ">and an_upload_time = #{anUploadTime}</if>
        </where>
    </select>

    <select id="selectComPubAttachmentsByAnId" parameterType="Integer" resultMap="ComPubAttachmentsResult">
        <include refid="selectComPubAttachmentsVo"/>
        where an_id = #{anId}
    </select>

    <select id="selectedComPubAttamentsByAid" resultType="com.hh.pms.domain.ComPubAttachments">
        <include refid="selectComPubAttachmentsVo"/>
        where aid = #{aid}
    </select>

    <insert id="insertComPubAttachments" parameterType="ComPubAttachments">
        insert into com_pub_attachments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="anId != null">an_id,</if>
            <if test="aid != null">aid,</if>
            <if test="jhid != null">jhid,</if>
            <if test="eid != null">eid,</if>
            <if test="anName != null">an_name,</if>
            <if test="anType != null">an_type,</if>
            <if test="anDan != null">an_dan,</if>
            <if test="anUrl != null">an_url,</if>
            <if test="anSize != null">an_size,</if>
            <if test="anUploadTime != null">an_upload_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="anId != null">#{anId},</if>
            <if test="aid != null">#{aid},</if>
            <if test="jhid != null">#{jhid},</if>
            <if test="eid != null">#{eid},</if>
            <if test="anName != null">#{anName},</if>
            <if test="anType != null">#{anType},</if>
            <if test="anDan != null">#{anDan},</if>
            <if test="anUrl != null">#{anUrl},</if>
            <if test="anSize != null">#{anSize},</if>
            <if test="anUploadTime != null">#{anUploadTime},</if>
        </trim>
    </insert>

    <update id="updateComPubAttachments" parameterType="ComPubAttachments">
        update com_pub_attachments
        <trim prefix="SET" suffixOverrides=",">
            <if test="aid != null">aid = #{aid},</if>
            <if test="jhid != null">jhid = #{jhid},</if>
            <if test="eid != null">eid = #{eid},</if>
            <if test="anName != null">an_name = #{anName},</if>
            <if test="anType != null">an_type = #{anType},</if>
            <if test="anDan != null">an_dan = #{anDan},</if>
            <if test="anUrl != null">an_url = #{anUrl},</if>
            <if test="anSize != null">an_size = #{anSize},</if>
            <if test="anUploadTime != null">an_upload_time = #{anUploadTime},</if>
        </trim>
        where an_id = #{anId}
    </update>

    <update id="updateComPubAttamentsByAid" parameterType="ComPubAttachments">
        update com_pub_attachments
        <trim prefix="SET" suffixOverrides=",">
            <if test="jhid != null">jhid = #{jhid},</if>
            <if test="eid != null">eid = #{eid},</if>
            <if test="anName != null">an_name = #{anName},</if>
            <if test="anType != null">an_type = #{anType},</if>
            <if test="anDan != null">an_dan = #{anDan},</if>
            <if test="anUrl != null">an_url = #{anUrl},</if>
            <if test="anSize != null">an_size = #{anSize},</if>
            <if test="anUploadTime != null">an_upload_time = #{anUploadTime},</if>
        </trim>
        where aid = #{aid}
    </update>

    <delete id="deleteComPubAttachmentsByAnId" parameterType="Integer">
        delete
        from com_pub_attachments
        where an_id = #{anId}
    </delete>

    <delete id="deleteComPubAttachmentsByAnIds" parameterType="String">
        delete from com_pub_attachments where an_id in
        <foreach item="anId" collection="array" open="(" separator="," close=")">
            #{anId}
        </foreach>
    </delete>

    <delete id="deleteComPubAttamentsByAid">
        DELETE
        FROM com_pub_attachments
        WHERE aid = #{aid}
    </delete>


</mapper>