<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.PpmDeviceMapper">

    <resultMap type="com.hh.pms.domain.PpmDevice" id="PpmDeviceResult">
        <result property="tid" column="tid"/>
        <result property="tName" column="t_name"/>
        <result property="category" column="category"/>
        <result property="tUnit" column="t_unit"/>
        <result property="shui" column="shui"/>
        <result property="tIllustrate" column="t_illustrate"/>
        <result property="duCode" column="du_code"/>
        <result property="tNotes" column="t_notes"/>
        <result property="tModel" column="t_model"/>
        <result property="tPrice" column="t_price"/>
    </resultMap>

    <sql id="selectPpmDeviceVo">
        select tid,
               t_name,
               category,
               t_unit,
               shui,
               t_illustrate,
               du_code,
               t_notes,
               t_model,
               t_price
        from ppm_device
    </sql>

    <select id="selectPpmDeviceList" parameterType="com.hh.pms.domain.PpmDevice" resultMap="PpmDeviceResult">
        <include refid="selectPpmDeviceVo"/>
        <where>
            <if test="tid != null">tid = #{tid}</if>
        </where>
    </select>

    <select id="selectPpmDeviceByTid" parameterType="String" resultMap="PpmDeviceResult">
        <include refid="selectPpmDeviceVo"/>
        where tid = #{tid}
    </select>

    <insert id="insertPpmDevice" parameterType="com.hh.pms.domain.PpmDevice">
        insert into ppm_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tid != null">tid,</if>
            <if test="tName != null">t_name,</if>
            <if test="category != null">category,</if>
            <if test="tUnit != null">t_unit,</if>
            <if test="shui != null">shui,</if>
            <if test="tIllustrate != null">t_illustrate,</if>
            <if test="duCode != null">du_code,</if>
            <if test="tNotes != null">t_notes,</if>
            <if test="tModel != null">t_model,</if>
            <if test="tPrice != null">t_price,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tid != null">#{tid},</if>
            <if test="tName != null">#{tName},</if>
            <if test="category != null">#{category},</if>
            <if test="tUnit != null">#{tUnit},</if>
            <if test="shui != null">#{shui},</if>
            <if test="tIllustrate != null">#{tIllustrate},</if>
            <if test="duCode != null">#{duCode},</if>
            <if test="tNotes != null">#{tNotes},</if>
            <if test="tModel != null">#{tModel},</if>
            <if test="tPrice != null">#{tPrice},</if>
        </trim>
    </insert>

    <update id="updatePpmDevice" parameterType="com.hh.pms.domain.PpmDevice">
        update ppm_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="tName != null">t_name = #{tName},</if>
            <if test="category != null">category = #{category},</if>
            <if test="tUnit != null">t_unit = #{tUnit},</if>
            <if test="shui != null">shui = #{shui},</if>
            <if test="tIllustrate != null">t_illustrate = #{tIllustrate},</if>
            <if test="duCode != null">du_code = #{duCode},</if>
            <if test="tNotes != null">t_notes = #{tNotes},</if>
            <if test="tModel != null">t_model = #{tModel},</if>
            <if test="tPrice != null">t_price = #{tPrice},</if>
        </trim>
        where tid = #{tid}
    </update>

    <delete id="deletePpmDeviceByTid" parameterType="String">
        delete
        from ppm_device
        where tid = #{tid}
    </delete>

    <delete id="deletePpmDeviceByTids" parameterType="String">
        delete from ppm_device where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>
</mapper>