<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.PpmFramePlanMapper">

    <resultMap type="com.hh.pms.domain.PpmFramePlan" id="PpmFramePlanResult">
        <result property="jhId" column="jh_id"/>
        <result property="oid" column="oid"/>
        <result property="jhCode" column="jh_code"/>
        <result property="jhName" column="jh_name"/>
        <result property="jhYu" column="jh_yu"/>
        <result property="dept" column="dept"/>
        <result property="jhStatus" column="jh_status"/>
        <result property="jhPerson" column="jh_person"/>
        <result property="jhPmethod" column="jh_pmethod"/>
        <result property="jhFounder" column="jh_founder"/>
        <result property="hid" column="hid"/>
        <result property="businessType" column="business_type"/>
        <association property="bsSupplier">
            <result property="hid" column="hid"/>
            <result property="hName" column="h_name"/>
        </association>
    </resultMap>

    <resultMap id="threeTables" type="com.hh.pms.domain.PpmFramePlan">
        <id column="jh_id" property="jhId"/>
        <collection property="items" ofType="com.hh.pms.domain.PpmLineItems">
            <id property="vid" column="vid"/>
            <association property="ppmDevice">
                <id property="tid" column="tid"/>
            </association>
        </collection>
    </resultMap>

    <sql id="selectPpmFramePlanVo">
        select jh_id,
               oid,
               jh_code,
               jh_name,
               jh_yu,
               dept,
               jh_status,
               jh_person,
               jh_pmethod,
               jh_founder,
               p.hid,
               business_type,
               b.h_name
        from ppm_frame_plan p
                 INNER JOIN bs_supplier b on p.hid = b.hid
    </sql>

    <select id="selectPpmFramePlanList" parameterType="com.hh.pms.domain.PpmFramePlan" resultMap="PpmFramePlanResult">
        <include refid="selectPpmFramePlanVo"/>
        <where>
            <if test="oid != null ">and oid = #{oid}</if>
            <if test="jhCode != null  and jhCode != ''">and jh_code = #{jhCode}</if>
            <if test="jhName != null  and jhName != ''">and jh_name like concat('%', #{jhName}, '%')</if>
            <if test="jhYu != null ">and jh_yu = #{jhYu}</if>
            <if test="dept != null  and dept != ''">and dept = #{dept}</if>
            <if test="jhStatus != null ">and jh_status = #{jhStatus}</if>
            <if test="jhPerson != null  and jhPerson != ''">and jh_person = #{jhPerson}</if>
            <if test="jhPmethod != null  and jhPmethod != ''">and jh_pmethod = #{jhPmethod}</if>
            <if test="jhFounder != null  and jhFounder != ''">and jh_founder = #{jhFounder}</if>
            <if test="hid != null ">and hid = #{hid}</if>
            <if test="businessType != null ">and business_type = #{businessType}</if>
        </where>
    </select>

    <select id="selectPpmFramePlanByJhId" parameterType="Long" resultMap="PpmFramePlanResult">
        <include refid="selectPpmFramePlanVo"/>
        where jh_id = #{jhId}
    </select>

    <select id="queryFrameworkPlanAndRelatedInformation" resultMap="threeTables">
        select p.*,
               i.vid,
               i.v_code,
               i.v_person,
               i.v_delivery_time,
               i.v_delivery_area,
               i.v_illustrate,
               i.v_count,
               i.procurement_method,
               d.*
        from ppm_line_items i
                 join ppm_frame_plan p on p.jh_id = i.jh_id
                 join ppm_device d on d.tid = i.tid
        WHERE p.jh_id = #{jhId}
    </select>

    <insert id="insertPpmFramePlan" parameterType="com.hh.pms.domain.PpmFramePlan" useGeneratedKeys="true"
            keyProperty="jhId">
        insert into ppm_frame_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jhId != null">jh_id,</if>
            <if test="oid != null">oid,</if>
            <if test="jhCode != null">jh_code,</if>
            <if test="jhName != null">jh_name,</if>
            <if test="jhYu != null">jh_yu,</if>
            <if test="dept != null">dept,</if>
            <if test="jhStatus != null">jh_status,</if>
            <if test="jhPerson != null">jh_person,</if>
            <if test="jhPmethod != null">jh_pmethod,</if>
            <if test="hid != null ">hid,</if>
            <if test="businessType != null">business_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jhId != null">#{jhId},</if>
            <if test="oid != null">#{oid},</if>
            <if test="jhCode != null">#{jhCode},</if>
            <if test="jhName != null">#{jhName},</if>
            <if test="jhYu != null">#{jhYu},</if>
            <if test="dept != null">#{dept},</if>
            <if test="jhStatus != null">#{jhStatus},</if>
            <if test="jhPerson != null">#{jhPerson},</if>
            <if test="jhPmethod != null">#{jhPmethod},</if>
            <if test="hid != null ">#{hid},</if>
            <if test="businessType != null">#{businessType},</if>
        </trim>
    </insert>

    <update id="updatePpmFramePlan" parameterType="com.hh.pms.domain.PpmFramePlan">
        update ppm_frame_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="oid != null">oid = #{oid},</if>
            <if test="jhCode != null">jh_code = #{jhCode},</if>
            <if test="jhName != null">jh_name = #{jhName},</if>
            <if test="jhYu != null">jh_yu = #{jhYu},</if>
            <if test="dept != null">dept = #{dept},</if>
            <if test="jhStatus != null">jh_status = #{jhStatus},</if>
            <if test="jhPerson != null">jh_person = #{jhPerson},</if>
            <if test="jhPmethod != null">jh_pmethod = #{jhPmethod},</if>
            <if test="jhFounder != null">jh_founder = #{jhFounder},</if>
            <if test="hid != null ">hid = #{hid},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
        </trim>
        where jh_id = #{jhId}
    </update>

    <update id="updateFarmeworkPlanStatusByJhId">
        update ppm_frame_plan
        set jh_status = #{jhStatus}
        where jh_id = #{jhId}
    </update>

    <delete id="deletePpmFramePlanByJhId">
        delete
        from ppm_frame_plan
        where jh_id = #{jhId}
    </delete>

    <delete id="deletePpmFramePlanByJhIds" parameterType="String">
        delete from ppm_frame_plan where jh_id in
        <foreach item="jhId" collection="array" open="(" separator="," close=")">
            #{jhId}
        </foreach>
    </delete>

    <sql id="fourTableLinkedQuery">
        SELECT p.aid p_aid,
               p.a_code,
               p.a_name,
               p.create_by,
               p.a_create_dept,
               p.fj_annex,
               p.a_astate,
               i.*,
               d.tid d_tid,
               d.t_name,
               d.category,
               d.t_unit,
               d.shui,
               d.t_illustrate,
               d.t_notes,
               d.t_model,
               b.du_dept,
               b.du_name,
               b.du_total
        FROM ppm_procurement_plan p
                 inner join ppm_line_items i on p.aid = i.aid
                 left join ppm_device d on i.tid = d.tid
                 left join ppm_budget b on b.du_id = i.did
                 left join ppm_frame_plan f on f.jh_id = i.jh_id
    </sql>
</mapper>