<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.PpmProcurementPlanMapper">

    <resultMap type="PpmProcurementPlan" id="PpmProcurementPlanResult">
        <result property="aid" column="aid"/>
        <result property="aCode" column="a_code"/>
        <result property="aName" column="a_name"/>
        <result property="createBy" column="create_by"/>
        <result property="aCreateDept" column="a_create_dept"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="fjAnnex" column="fj_annex"/>
        <result property="aOpinion" column="a_opinion"/>
        <result property="aProjectCount" column="a_project_count"/>
        <result property="aBtype" column="a_btype"/>
        <result property="aAstate" column="a_astate"/>
    </resultMap>

    <resultMap id="fourTableResult" type="com.hh.pms.domain.PpmProcurementPlan">
        <id column="p_aid" property="aid"/>
        <collection property="items" ofType="com.hh.pms.domain.PpmLineItems">
            <id property="vid" column="vid"/>
            <association property="ppmDevice">
                <id column="d_tid" property="tid"/>
            </association>
            <association property="ppmBudget">
                <id property="duId" column="du_id"/>
                <result property="duCode" column="b_code"/>
            </association>
        </collection>
    </resultMap>

    <sql id="selectPpmProcurementPlanVo">
        select aid,
               a_code,
               a_name,
               create_by,
               a_create_dept,
               create_time,
               update_by,
               update_time,
               fj_annex,
               a_opinion,
               a_project_count,
               a_btype,
               a_astate
        from ppm_procurement_plan
    </sql>

    <select id="selectPpmProcurementPlanList" parameterType="PpmProcurementPlan" resultMap="PpmProcurementPlanResult">
        <include refid="selectPpmProcurementPlanVo"/>
        <where>
            <if test="aCode != null  and aCode != ''">and a_code = #{aCode}</if>
            <if test="aBtype != null  and aBtype != ''">and a_btype = #{aBtype}</if>
            <if test="aAstate != null ">and a_astate = #{aAstate}</if>
        </where>
    </select>

    <select id="selectPpmProcurementPlanByAid" parameterType="Integer" resultMap="PpmProcurementPlanResult">
        <include refid="selectPpmProcurementPlanVo"/>
        where aid = #{aid}
    </select>

    <select id="selectProcurementPlanByIdForThreeTables" parameterType="Integer" resultMap="fourTableResult">
        <include refid="fourTableLinkedQuery"/>
        where p.aid = #{aid}
    </select>

    <select id="FindProcurementPlanBy" resultType="com.hh.pms.domain.PpmProcurementPlan">
        <include refid="selectPpmProcurementPlanVo"/>
        <where>
            <if test="aName != null">and a_name like concat('%',#{aName},'%')</if>
            <if test="aCreateDept != null">and a_create_dept like concat('%',#{aCreateDept},'%')</if>
            and ( a_astate = 2 or a_astate = 3 )
        </where>
    </select>

    <resultMap id="PpmProcurementPlanAndComPubAttament" type="com.hh.pms.domain.PpmProcurementPlan">
        <id property="aid" column="p_aid"/>
        <association property="file">
            <id property="anId" column="an_id"/>
        </association>
    </resultMap>

    <select id="selectePpmProcurementPlanAndComPubAttamentByAid" resultMap="PpmProcurementPlanAndComPubAttament">
        SELECT
        p.aid
        p_aid,p.a_code,p.a_name,p.create_by,p.a_create_dept,p.create_time,p.update_by,p.a_opinion,p.a_project_count,p.a_btype,p.a_astate,f.*
        FROM `ppm_procurement_plan` p left join com_pub_attachments f on p.aid = f.aid
        <where>
            <if test="aid != null">and p.aid = #{aid}</if>
            <if test="aCode != null  and aCode != ''">and a_code = #{aCode}</if>
            <if test="aBtype != null  and aBtype != ''">and a_btype = #{aBtype}</if>
            <if test="aAstate != null ">and a_astate = #{aAstate}</if>
        </where>
    </select>

    <insert id="insertPpmProcurementPlan" parameterType="PpmProcurementPlan" useGeneratedKeys="true" keyProperty="aid">
        insert into ppm_procurement_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aCode != null">a_code,</if>
            <if test="aName != null">a_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="aCreateDept != null">a_create_dept,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="fjAnnex != null">fj_annex,</if>
            <if test="aOpinion != null">a_opinion,</if>
            <if test="aProjectCount != null">a_project_count,</if>
            <if test="aBtype != null">a_btype,</if>
            <if test="aAstate != null">a_astate,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aCode != null">#{aCode},</if>
            <if test="aName != null">#{aName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="aCreateDept != null">#{aCreateDept},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="fjAnnex != null">#{fjAnnex},</if>
            <if test="aOpinion != null">#{aOpinion},</if>
            <if test="aProjectCount != null">#{aProjectCount},</if>
            <if test="aBtype != null">#{aBtype},</if>
            <if test="aAstate != null">#{aAstate},</if>
        </trim>
    </insert>

    <insert id="insertTenders">
        INSERT
        bid_tender (xy_id,s_code,s_name,s_way,s_type,create_by,update_by,s_project_state) VALUES (
        #{xyId},
        #{sCode},
        #{sName},
        #{sWay},
        #{sType},
        #{createBy},
        #{updateBy},
        #{sProjectState}
        )
    </insert>

    <insert id="insertNoBidPro">
        INSERT
        nobid_non_pro (xy_id,g_code,g_name,g_is_public,g_tenderType) VALUES (
        #{xyId},
        #{gCode},
        #{gName},
        #{gIsPublic},
        #{tendertype}
        )
    </insert>

    <update id="updatePpmProcurementPlan" parameterType="PpmProcurementPlan">
        update ppm_procurement_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="aCode != null">a_code = #{aCode},</if>
            <if test="aName != null">a_name = #{aName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="aCreateDept != null">a_create_dept = #{aCreateDept},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="fjAnnex != null">fj_annex = #{fjAnnex},</if>
            <if test="aOpinion != null">a_opinion = #{aOpinion},</if>
            <if test="aProjectCount != null">a_project_count = #{aProjectCount},</if>
            <if test="aBtype != null">a_btype = #{aBtype},</if>
            <if test="aAstate != null">a_astate = #{aAstate},</if>
        </trim>
        where aid = #{aid}
    </update>

    <delete id="deletePpmProcurementPlanByAid" parameterType="Integer">
        delete
        from ppm_procurement_plan
        where aid = #{aid}
    </delete>

    <delete id="deletePpmProcurementPlanByAids" parameterType="String">
        delete from ppm_procurement_plan where aid in
        <foreach item="aid" collection="array" open="(" separator="," close=")">
            #{aid}
        </foreach>
    </delete>


    <sql id="fourTableLinkedQuery">
        SELECT p.aid p_aid,
               p.a_code,
               p.a_name,
               p.create_by,
               p.a_create_dept,
               p.fj_annex,
               p.a_astate,
               i.*,
               d.tid d_tid,
               d.t_name,
               d.category,
               d.t_unit,
               d.shui,
               d.t_illustrate,
               d.t_notes,
               d.t_model,
               b.du_dept,
               b.du_name,
               b.du_total
        FROM ppm_procurement_plan p
                 inner join ppm_line_items i on p.aid = i.aid
                 left join ppm_device d on i.tid = d.tid
                 left join ppm_budget b on b.du_id = i.did
    </sql>
</mapper>